<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PaleVá</title>
  </head>
  <body>
    <div id="app">
      <h1>Pedidos</h1>
      <!-- <input
        type="text"
        v-model="restaurantCode"
        placeholder="Código do Restaurante"
      /> -->
      <ul>
        <li v-for="order in orderList">
          <address>
            {{ order.name }} <br />
            Observação: {{ order.note }} <br />
            Código: {{ order.code }}
          </address>
        </li>
      </ul>

      <div>
        <button @click="fetchData">Fetch Data</button>
        <p v-if="data">{{ data }}</p>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
  </body>
</html>
